.peek {
	height: 150px;
	width: 150px;
    border-radius:150px;
}
.nonWdi {
	height: 150px;
	width: 150px;
    border-radius:150px;
}

#startMe {
    margin: 7px;
    position: fixed;
    
}

.emptyBox{
	height: 150px;
	width: 150px;
	position: relative;
	border-radius:150px;
	display: inline-block;
	float: left;
}


h1 {
	height: 30px;
	text-align: center;
}


.test{
	height: 1150px;
	width: 1150px;
}