.peek {
	height: 150px;
	width: 150px;
    border-radius:150px;
}
.nonWdi {
	height: 150px;
	width: 150px;
    border-radius:150px;
}

#startMe {
    margin: 7px;
    position: fixed;
    
}

.emptyBox{
	height: 150px;
	width: 150px;
	position: relative;
	border-radius:150px;
	display: inline-block;
	float: left;
	color: grey;
}


h1 {
	height: 30px;
	text-align: center;
}


#sadImage{
	margin-top: 10%;
	margin-left: 25%;
}
div: hover {
	background-color: rgba(248,248,255);
}